.reveal .slides {
    /* The default reveal theme aligns everything to the center */
    text-align: left;
}

.reveal .slide .accordion li p {
    /*
    For some reason we often end up with paragraphs inside bullet point lists,
    which look odd because the bullet is on a different line from the text.
    We can't change their element type as this breaks the workbench CSS, but 
    we can make them display inline to prevent this.
    */
    display: inline;
}

.challenge-accordion {
    /* Fix for accordions being shifted above the slide */
    margin: auto;
}

.reveal .slides {
    /* Add a scrollbar if any slide ends up too large */
    overflow-y: auto;
}

.reveal .slides>section.stack button {
    /* Fix a weird behaviour where reveal disables all buttons */
    pointer-events: all;
}

h1 {
    text-align: center;
}

h1.title {
    /* Make the title slide stand out */
    font-size: 60pt;
    line-height: 60pt;
    text-transform: uppercase;
}
